<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Advanced React Example</title>
  <meta name="viewport" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <div id="root">
    Loading...  
  </div>

  <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>